@font-face {
  font-family: 'Heebo-Light';
  src: url(assets/fonts/Heebo-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Heebo-Medium';
  src: url(assets/fonts/Heebo-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Heebo-Bold';
  src: url(assets/fonts/Heebo-Bold.woff2) format('woff2');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Heebo-Light, Heebo-Medium, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
}

h1 {
  font-family: Heebo-Bold;
}

.header-list {
  list-style-type: none;
  display: flex;
  float: right;
}

.header-list > li {
  padding-right: 33px;
  font-family: Heebo-Medium;
}

.header-list > li > a {
  text-decoration: none;
  color: black;
}

.tommy_text {
  font-family: Heebo-Light;
}

.Tommy-style {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  margin-bottom: 58px;
}

.Tommy-style h1,
.Tommy-style p {
  text-align: center;
}

.image {
  display: block;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  margin-bottom: 43px;
}

.button-tommy {
  display: block;
  width: 208px;
  height: 47px;
  background-color: #ff6464;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 2px;
  margin: 0 auto;
}

.tommy-left-part {
  margin: 0 auto;
  max-width: 497px;
}

@media (min-width: 768px) {
  .Tommy-style {
    flex-direction: row;
    margin-bottom: 71px;
  }

  .Tommy-style h1,
  .Tommy-style p {
    text-align: left;
  }

  .image {
    width: 243px;
    height: 243px;
    margin: 0;
  }

  .button-tommy,
  .tommy-left-part {
    margin: 0;
  }
}

/*
Можно использовать вместо flex-direction: column-reverse;

.image {
  order: -1;
}
*/

.second-part {
  /* position: absolute; */
  height: 396px;
  left: 0;
  background: #edf7fa;
  margin-top: 88px;
  padding-bottom: 32px;
}

.second-part-left {
  display: flex;
  justify-content: space-between;
}

.window-center {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 24px;
}

.window-center > div {
  padding-top: 24px;
  padding-left: 23px;
  padding-bottom: 7px;
  padding-right: 27px;
}

.first-window-left {
  display: flex;
  justify-content: space-between;
  font-family: Heebo-Medium;
}

.window-center-second-part {
  font-family: Heebo-Medium;
}

.second-window-right {
  display: flex;
  justify-content: space-between;
  font-family: Heebo-Medium;
}

.second-window-right-two {
  background-color: white;
  margin-right: 148px;
}

.line {
  background-color: #e0e0e0;
  height: 2px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.Featured {
  max-width: 856px;
}

.featured_works_first_text {
  font-family: Heebo-Medium;
  font-size: 22px;
  color: #21243d;
}

.featured_works_first_text {
  margin-left: 148px;
}

.Featured > div {
  margin: 0 auto;
}

.featured-second {
  display: flex;
  max-width: 856px;
  padding-bottom: 35px;
  padding-top: 31px;
}

.featured-first {
  display: flex;
  max-width: 856px;
  padding-bottom: 15px;
}

.featured-first-text {
  margin-left: 18px;
}

.featured-first-text {
  display: flex;
  flex-direction: column;
}

.first-2020 {
  background-color: #142850;
  width: 62px;
  height: 25px;
  color: white;
  border-radius: 16px;
  text-align: center;
  font-family: Heebo-Medium;
}

.Dashboard {
  font-family: Heebo-Light;
  color: #8695a4;
}

.Design {
  font-family: Heebo-Medium;
  font-size: 30px;
  padding-bottom: 16px;
}

.first-2020-dashboard {
  display: flex;
  gap: 26px;
  padding-bottom: 22px;
}

.first-text-Amet {
  font-family: Heebo-Light;
  color: #21243d;
  font-weight: 400;
  font-size: 16px;
}

footer {
  height: 182px;
  margin-top: 83px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  display: inline-block;
}

footer ul li {
  float: left;
  margin-right: 35px;
}

/* MEDIA QUERIES */

/* 0 до 768px */
.desktop-header {
  height: 100px;
  background-color: green;
}

/* 768px и выше */
@media (min-width: 768px) {
  .desktop-header {
    background-color: red;
  }
}

/* 1024px и выше */
@media (min-width: 1024px) {
  .desktop-header {
    background-color: blue;
  }
}

/* 1440px и выше */
@media (min-width: 1440px) {
  .desktop-header {
    background-color: purple;
  }
}
