@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 600;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 1170px;
  font-family: Poppins;
  margin: 0 auto;
}

p {
color: #333333;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

h1 {
  color: #333333;

  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}

h2 {
  color: #13ab4e;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

header {
  height: 85px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left-part {
  display: flex;
  align-items: center;
}

.header-left-part a {
  height: 40;
  width: 140;
}

.header-left-part nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.header-left-part nav ul li a {
  text-decoration: none;
  color: #333333;
}

.header-right-part a::before {
  background: url(assets/Person-profile.png);
  content: "";
  float: left;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  margin-top: 15px;
}

.header-right-part a {
  text-decoration: none;
  color: #333333;
  margin-right: 32px;
}

.header-right-part button {
  background-color: #13ab4e;
  color: white;
  border-radius: 4px;
  border: none;
  width: 190px;
  height: 55px;
  font-size: 18px;

  cursor: pointer;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-left-part h1 {
  color: #333333;

  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}


.main-left-part h1 span {
  color: #13ab4e;
}

.main-left-part div {
  display: flex;
  align-items: center;
}

.main-left-part div button {
  background-color: #13ab4e;
  color: white;
  border-radius: 4px;
  border: none;
  width: 190px;
  height: 55px;
  font-size: 18px;
  font-family: Poppins;
  cursor: pointer;
  margin-right: 2%;
}

.main-left-part div a::before {
  background: url(assets/Telephone.png);
  content: "";
  float: left;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
}

.main-left-part div a {
  text-decoration: none;
  color: #13ab4e;
}

.main-right-part img {
  margin-top: 25px;
}

.main-companies {
  color: #13ab4e;
  text-align: center;
  margin-bottom: 100px;
}

.main-companies ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.video {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 56px;
}



.video img {
  width: 674px;
  height: 380px;
  margin: 0 auto;
}

.our-features {
  text-align: center;
  
}

.our-features ul {
  border-radius: 75px;
  height: 66px;
  background-color: #b4f1cb;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}


.our-features ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  
}

.real-time::before{
    background: url(assets/real-time.png);
    content: "";
    float: left;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.easy-digital::before {
    background: url(assets/);
    content: "";
    float: left;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.issue::before {
    background: url(assets/issue.png);
    content: "";
    float: left;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.robust::before {
    background: url(assets/);
    content: "";
    float: left;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.our-features ul li:last-child{
    padding-right: 32px;
}